/*------------------------------------------------------------
	layout
------------------------------------------------------------*/
.fixed-header{
	position: fixed !important;
	left: 0;
	top: 0;
	width: 100vw;
}