<template>
	<header id="header" class="navbar-expand-lg text-center" v-bind:class="{ 'fixed-header': fixedOnScroll }">
		<div id="test" v-scroll-to="'#pageTop'"></div>
		<p class="txt">採用における課題を「情報発信」で解決する - ii-deais（イーディアス） -</p>

		<div class="inner top">
			<div class="logo"><a href="/"><img src="~/assets/img/logo.png" width="236" height="30" alt="株式会社イーディアス"></a></div>

			<div id="gNavi">
				<ul>
					<li><a href="/about/"><span class="in">イーディアスに<br>ついて</span></a></li>
					<li><a href="/solution/"><span class="in">ソリューション<br>のご紹介</span></a></li>
					<li><a href="/faq/"><span class="in">FAQ</span></a></li>
					<li><a href="/ranking/"><span class="in">採用サイト<br>ランキング</span></a></li>
					<li><a href="/contact_top/"><span class="in">資料請求・<br>お問い合わせ</span></a></li>
				</ul>
			</div>
		</div>
	</header>
</template>

<script>
	export default {
		name: 'MainNav',
		data: function () {
			return {
				fixedOnScroll: false
			}
		},
		methods: {
			handleScroll () {
				if (window.scrollY >= 20) {
					this.fixedOnScroll = true
				} else {
					this.fixedOnScroll = false
				}
			}
		},
		created () {
			if (process.browser) {
				window.addEventListener('scroll', this.handleScroll)
			}
		},
		beforeUpdate () {
			if (process.browser) {
				window.addEventListener('scroll', this.handleScroll)
			}
		}
	}
</script>