<template>
	<div id="faq">
		<ol id="pagePath">
			<li><a href="/">株式会社イーディアスホーム</a>&gt;</li>
			<li>サービスに関するFAQ</li>
		</ol>
		<main id="main">
		<main-visual :src="require('~/assets/img/faq/page_ttl.png')" />

		<div id="conts" class="contsSet">
			<faq-single 
				question="コンサルティングサービスの費用には、採用ツールの制作費も含まれているのでしょうか？"
				answer="はい、含まれております。<br>大まかなスケジュールと施策内容を協議した上でご契約となりますが、その際、各種採用ツールの制作費も含めてご提案いたします。"
			/>
			<faq-single 
				question="各サービス、例えば採用サイトの制作だけを申し込むことはできますか？"
				answer="はい、可能です。<br>
					採用プロモーションツールの制作のみ、コンサルティングのみ、採用アウトソースのみといった個別のお申し込みができます。"
			/>
			<faq-single 
				question="月額ってどういうことですか？"
				answer="ご契約前に達成目標とスケジュールをご提案いたします。達成に必要な体制・布陣によって当社の月間の最大作業時間が決まりますので、その範囲でコンサルティング・実制作を行います。ご予算やスピードなどで増減が可能です。"
			/>
			<faq-single 
				question="コンサルサービスの契約期間は最低どのくらいですか？"
				answer="12ヶ月、または24ヶ月です。採用課題の抽出と解決策のご提示にはどうしても時間が掛かってしまいますし、プロジェクトを進めるうちに発現した課題や必要な制作物などに柔軟に対応するためです。<br>
					『採用サイトだけ』『入社案内だけ』などの発注も可能で、こちらは単体でのご注文となります。"
			/>
			<faq-single 
				question="月額制のメリットって何でしょうか？"
				answer="イーディアスのコンサルティングサービスの最終目標は「プロの知見を移植し、仕組化する」ことにあります。単なるアドバイスや制作、代行ではなく、課題解決やご提案を通じて採用力を高めるため、原則毎月のご訪問と当事者意識を持った企画提案や施策実施を、お客様とともに実行いたします。"
			/>
			<faq-single 
				question="費用に含まれるものと含まれないものを教えて下さい。"
				answer="人事制度の策定や評価、教育など、採用活動から外れることについては対象外ですが、情報提供やアドバイスは可能です。まずはご相談ください。<br>
					また、印刷費や広告費などは実費をご負担いただきます。"
			/>
			<faq-single 
				question="訪問はしてくれるのですか？"
				answer="はい。基本的にプロジェクト開始前後は毎週または隔週程度、その後も月に1回程度ご訪問させていただき、貴社の状況把握と施策の進捗報告、効果検証や企画提案を行います。"
			/>
			<faq-single 
				question="他社との違いや強みは何ですか？"
				answer="貴社専任チームによる、採用力を高める体制のご提供と当事者意識、「@人事」を中心とした情報網、クリエイティブチームによる高い成果物の提供、付加価値を生みにくい作業のアウトソースが可能で、これらすべてを自社で一貫して提供できることです。"
			/>
			<faq-single 
				question="月額内でどのようなことでもできるのでしょうか？"
				answer="ご契約金額に応じて、イーディアスの月間作業時間を取り決めます。原則、その範囲内でのコンサルティングサービスをご提供いたします。<br>
					もちろん、制作物の締切りや説明会などの繁忙期には、作業時間が超過することもございます。その場合には、前後の月の作業時間を調整させていただきます。"
			/>
			<faq-single 
				question="制作費込みですか？"
				answer="制作・企画・コンサルティングなどの区別なく作業時間に含まれております。<br>
					媒体管理や施設予約、説明会の運営代行などの「アウトソース」については、別途お見積りとなります(コンサルティングサービスよりも安価となります)。"
			/>
			<faq-single 
				question="いつからでも契約できますか？"
				answer="採用シーズンの開始前・途中を問わず、いつからでもご契約が可能です。"
			/>
			<faq-single 
				question="全国どこでも対応できますか？"
				answer="はい、可能です。<br>
					現在、全都道府県に私たちがご支援している会社様がございます。どの地域の皆様にも質の高いサービスの提供が可能ですのでご安心ください。"
			/>
			<faq-single 
				question="自社の取り組みが正しいのかがわかりません。"
				answer="はい、可能です。<br>
					良質な母集団が十分な量確保できているか、内定辞退率を低下させられないか、採用サイトや入社案内はメッセージを届けられているかなど、ヒアリングに基づいて現状の採用力を診断し、その上で改善策をご提案いたします。まずは無料診断をお申し込み下さい。"
			/>
			<faq-single 
				question="インターンは企画だけですか？"
				answer="複数日にわたる職場体験型のインターンの場合は、その後の学生対応や動機形成の都合から、自社スタッフで行っていただくのがベストです。<br>
					一方でセミナー型インターン(業界・職種・自己分析など)の場合は、当社で運営・募集の代行をすることも可能です。"
			/>
			<faq-single 
				question="新卒採用は初めてなのですが対応可能ですか？"
				answer="もちろん可能です。<br>
					ご予算や目標の設定、人材要件の設定や媒体選定、選考手段やリクルーターの育成まで、すべて一から仕組化いたします。また、採用担当者育成支援も行っていますので、初めてでも安心してお任せ下さい。"
			/>
			<faq-single 
				question="採用予定数が少なくても問題ありませんか？"
				answer="もちろん問題ありません。<br>
					「景気に関係なく毎年3名」などと採用数を決めている会社は数多くあります。採用人数の少なさは同期の少なさでもありますから、先輩のフォローや費用の圧縮などの対策も合わせて練る必要があります。"
			/>
			<faq-single 
				question="人手不足の業界ですが、それでも大丈夫でしょうか？"
				answer="採用難易度が高いときこそ当社をご利用下さい。<br>
					理系・エンジニア・不人気業界で急成長中など、さまざまなケースで対応可能です。なお、「ターゲット学生そのものが数十名しかいない」など、極端に少ない場合には、お請けできない場合がございます。"
			/>
			<faq-single 
				question="料金はどのくらいですか？"
				answer="採用課題によって変動します。<br>
					標準的なコンサルティングで25～40万円程度になることが多く、採用ツールの制作などが加わると5～15万程度アップすることが多いです。"
			/>
			<faq-single 
				question="大人数の採用にも対応できますか？"
				answer="はい、可能です。<br>
					数百名・全国各地で採用＆勤務などの支援実績がございます。なお、採用人数が増えても比例して難易度が高くなるということはほとんどの場合ございません"
			/>
			<faq-single 
				question="採用に専念できるスタッフがいないのですが大丈夫でしょうか？"
				answer="当社の窓口となっていただく担当者様を決めていただければ対応可能です。<br>
					イーディアスのコンサルティングは、最終的に仕組化と自社での運用を目標としているため、採用担当者の育成も視野に入れていただきたいところですが･･･。"
			/>
		</div><!-- /#conts -->
	</main><!-- /#main -->
	
	<!-- /#pageLink -->
	</div>
</template>
<script>
	import FaqSingle from '~/components/common/FaqSingle';
	import MainVisual from '~/components/MainVisual';
	export default {
		components: {
			FaqSingle,
			MainVisual
		},
		 mounted: function() {
			$(".faq .ttl").click(function(){
				$(this).toggleClass("is-open");
				$(this).next(".txt").stop().slideToggle();
			});
			$(".faq .is-open").next(".txt").show();
		}
	}

</script>