<template>
  <div>
    <TheHeader/>
    <main class="contents">
      <nuxt/>
    </main>
    <PageLink/>
    <TheFooter/>
  </div>
</template>

<script>
import TheHeader from "~/components/common/TheHeader";
import TheFooter from "~/components/common/TheFooter";
import PageLink from '~/components/PageLink';

export default {
  components: {
    TheHeader,
    TheFooter,
    PageLink
  }
};
</script>

